$base-font-size: 18px;

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  @media (max-width: 700px) {
    color: #fff;
    background-color: green;
  }
}

@import "title.scss";

